$color-scheme: openscad-dark;
$body-background-color: #111111;
$body-heading-color: #d2dbc5;
$body-text-color: #d2dbc5;
$link-color: #8fa76e;
$nav-child-link-color: #8fa76e;
$sidebar-color: #1b1b1b;
$base-button-color: #141405;
$btn-primary-color: #f9d72c;
$code-background-color: #151515;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #1b1b1b;
$search-background-color: #1b1b1b;
$search-result-preview-color: #d2dbc5;
$border-color: #222222;
